<div class="home__container">
  <app-card
    gameCover="assets/Battlefield_5_capa.png"
    gameLabel="DIGITAL"
    gameType="DISC | PS5"
    gamePrice="R$ 129,99"
  ></app-card>

  <app-card
    gameCover="assets/Battlefield_4_capa.png"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 129,99"
  ></app-card>

  <app-card
    gameCover="assets/Battlefield_Bad_Company_2_capa.png"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL | PS2"
    gamePrice="R$ 129,99"
  ></app-card>

  <app-card
    gameCover="assets/Battlefield_5_capa.png"
    gameLabel="DIGITAL"
    gameType="DISC | PS5"
    gamePrice="R$ 129,99"
  ></app-card>

  <app-card
    gameCover="assets/Battlefield_4_capa.png"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 129,99"
  ></app-card>

  <app-card
    gameCover="assets/Battlefield_Bad_Company_2_capa.png"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL | PS2"
    gamePrice="R$ 129,99"
  ></app-card>
</div>
